#container{
    width: 360px;
    margin: 0 auto;
    border: 2px solid lightgray;
}

.complete{
    text-decoration: line-through;
    color: lightgray;
}

.unselectable {
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
  -o-user-select: none;
  user-select: none
}