@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body{
    font-family: Roboto;
    background: linear-gradient(90deg, #d76d77, #ffaf7b, #3a1c71);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;

}

h1{
    background: #D76D77;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0,0,0,0);
}

span{
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s ease-in;
    opacity: 0;
}

.fa-paint-brush{
     float: right;
}

li:hover{
    color: #FFAF7B;
}

li:nth-child(2n){
    background: #f7f7f7;
}

li:hover span{
    width: 40px;
    opacity: 1;
}

input:focus{
    background: white;
    border: 3px solid #D76D77;
    outline: none;
}

#container{
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    background: #f7f7f7;
}

.complete{
    text-decoration: line-through;
    color: lightgray;
}

.unselectable {
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
  -o-user-select: none;
  user-select: none
}